In [2]:
name='vijay deenanath chauhan'

In [3]:
len(name)

23

''' triple qoutes''' #multiline comment or string

python indexing

-positive indexing

-negative indexing

In [4]:
msg=''' bahut saari lines 
agr aap likhna chahte h
 to aap aise likh skte h'''
print(msg)

 bahut saari lines
agr aap likhna chahte h
 to aap aise likh skte h

In [6]:
print(msg[0])
print(msg[-1]) #last character of string
print(msg[7]) #4 item

h
s

In [7]:
print(name[0],name[3],name[4])

v a y

- slicing syntax

'x[startidx:endidx:stop]'

examples

-'x[5:15] ->5th to 14th index data'

-x[ :10] ->begin from 0th index to 9th index data

-x[5: ] -> 5th index to end of data

In [8]:
name[6:-8]
name[-12:-8]

'nath'

In [9]:
name[:5]

'vijay'

In [10]:
name[-7:]

'chauhan'

In [11]:
name='jasleen saluja'
fname=name[:7]
lname=name[8:]
print(fname)
print(lname)

jasleen
saluja

In [13]:
name[1::2] #start se end tak with step 2

'ale aua'

In [14]:
name[::-1]

'ajulas neelsaj'

In [16]:
x='encyclopedia'

In [18]:
x[2::-2]

'ce'

In [19]:
'$26637@737829.USD'[1:4]

'266'

In [20]:
name[::-1][:5][::-1]

'aluja'

 ### string method

 -formatting method

    -upper()

    -lower()

    -capitalize()

    -swapcase()

    -casefold()

    -title()

    -center()

    -ljust()

    -rjust()

-validation method

    -isalnum()

    -isalpha()

    -islower()

    -isupper()

    -isnumeric()

    -istitle()

    -startswith()

    -endswith()

-search method

    -find()

    -index()

-utility method

    -replace()

    -split()

    -join()

    -strip()

In [1]:
msg='journey before destination'

In [2]:
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold()) #same as lower()

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
JOURNEY BEFORE DESTINATION
journey before destination

In [3]:
msg.isalpha() #because the string contains space

False

In [4]:
"Oregano".isalpha()

True

In [5]:
fname=input("enter your first name:") #isalpha gives true if it contains only alphabets
if fname.isalpha():
    print("good boy/girl")
else:
    print("Are u stupid?")

good boy/girl

In [7]:
"1231.23".isnumeric()#only integers not float

False

In [8]:
'112a3p4'.isalnum() #checks if it contains integers and alphabets

True

In [10]:
n='Ms. vijaya'
n.startswith('Ms') #checks whether the string starts with the given value

True

In [11]:
guests=['Mr.alex','Ms.verma','Dr.vijay','Dr.rani','Mr.singh']
for name in guests:
    if name.startswith('Mr'):
        print("welcome sir")
    elif name.startswith("Dr"):
        print("welcome doctor")
    elif name.startswith('Er'):
         print("Not allowed")
    else:
        print("you are not invited")

welcome sir
you are not invited
welcome doctor
welcome doctor
welcome sir

In [12]:
import os  #os is a library
files=os.listdir()
print(files)

['app_one.py', 'func.ipynb', 'func2.ipynb', 'loops.ipynb', 'nested.py', 'strings.ipynb', 'tt.py']

In [13]:
for file in files:
    if file.endswith('.py'):
        print(f'{file} is python script')
    elif file.endswith('.ipynb'):
        print(f'{file} is a jupyter file ')
    elif file.endswith('.txt'):
        print(f'{file}is a text file')
    elif file.endswith('.md'):
        print(f'{file} is markdown file')
    else:
        print(f'{file}is an unknown file')

app_one.py is python script
func.ipynb is a jupyter file
func2.ipynb is a jupyter file
loops.ipynb is a jupyter file
nested.py is python script
strings.ipynb is a jupyter file
tt.py is python script

In [14]:
msg

'journey before destination'

In [20]:
msg.find("before") #searches the sequence
msg.rfind("r")#searches the sequence from the end

12

In [19]:
data="once upon a time, there was a person that lived. The end"

In [22]:
data.find('t',13) #searches from the 13th index

17

In [23]:
data.find('z') # -1 means not found

-1

In [24]:
data.count('this') #count()- it counts the number of time the given value is present in the string

0

In [25]:
data='as the day was coming to an end,our hero was ready to go to sleep. The end'

In [26]:
words=data.split() #it splits each word according to the space by default
print(words)

['as', 'the', 'day', 'was', 'coming', 'to', 'an', 'end,our', 'hero', 'was', 'ready', 'to', 'go', 'to', 'sleep.', 'The', 'end']

In [27]:
s=data.split('.') #splits according to the given value
print(s)

['as the day was coming to an end,our hero was ready to go to sleep', ' The end']

In [28]:
x=['abra','ka','dabra']
" ".join(x)  #it joins the list/tuple of strings into one single string(not numeric list or tuple)

'abra ka dabra'

In [29]:
data

'as the day was coming to an end,our hero was ready to go to sleep. The end'

In [30]:
data.replace('hero','villain')

'as the day was coming to an end,our villain was ready to go to sleep. The end'

In [33]:
data.replace('hero','villain').replace('end','start',1).replace('The end','to be continued...')

'as the day was coming to an start,our villain was ready to go to sleep. to be continued...'

In [34]:
data.replace('a','aaaa')

'aaaas the daaaay waaaas coming to aaaan end,our hero waaaas reaaaady to go to sleep. The end'

In [35]:
name=input("enter your name:")
print(name)
print(len(name))
name=name.strip()
print(name)
print(len(name))

 jasleen
8
jasleen
7

wap to remove all the vowels from the string
wap to remove all the punctuations from the string
wap count all the words in a string
count all the vowels in a string

In [43]:
y='my name is jasleen saluja'

In [42]:
for i in y:
    if str(i).find('a')|str(i).find('e')|str(i).find('i')|str(i).find('o')|str(i).find('u'):
        str(i).replace(str(i+1))

TypeError: can only concatenate str (not "int") to str

In [46]:
y.replace('a',' ').replace('e',' ').replace('i',' ').replace('o',' ').replace('u',' ')
print(y)

my name is jasleen saluja

In [6]:
movies =['KGF','RRR','iron man','thor','after','captain america','after we collided','fault in our stars','five feet apart','YJHD']

In [9]:
movies.reverse()

In [4]:
print(movies.index('iron man'))
print(movies.index('thor'))

1
0

In [8]:
movies_backup =movies.copy()  #it creates acopy of the list such that changes made to the copy are not made to the orginal list

In [10]:
import random as rnd

In [11]:
rnd.shuffle(movies) #shuffles the list
print(movies)

['after', 'iron man', 'five feet apart', 'fault in our stars', 'RRR', 'KGF', 'YJHD', 'thor', 'captain america', 'after we collided']

In [12]:
rnd.choice(movies)

'fault in our stars'

In [14]:
rnd.choices(movies,k=3)

['fault in our stars', 'five feet apart', 'thor']